<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noimageai" />
    <meta name="robots" content="noai" />
    {% if let Some(avatar_url) = avatar_url %}
    <link rel="icon" href="{{ avatar_url }}" />
    {% endif %} {% if let Some(instance_name) = instance_name %}
    <meta property="og:site_name" content="{{ instance_name }}" />
    {% if let Some(title) = ctx.title %}
    <title>{{ title }} - {{ instance_name }}</title>
    {% else %}
    <title>{{ instance_name }}</title>
    {% endif %} {% else %} {% if let Some(title) = ctx.title %}
    <title>{{ title }}</title>
    {% else %}
    <title>chamsae</title>
    {% endif %} {% endif %} {% if let Some(description) = ctx.description %}
    <meta name="description" content="{{ description }}" />
    {% endif %} {% if let Some(og_type) = ctx.og_type %}
    <meta property="og:type" content="{{ og_type }}" />
    {% endif %} {% if let Some(og_title) = ctx.og_title %}
    <meta property="og:title" content="{{ og_title }}" />
    {% endif %} {% if let Some(og_description) = ctx.og_description %}
    <meta property="og:description" content="{{ og_description }}" />
    {% endif %} {% if let Some(og_image) = ctx.og_image %}
    <meta property="og:image" content="{{ og_image }}" />
    {% endif %}
    <meta property="twitter:card" content="summary" />
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
